[access "refs/heads/*"]
	abandon = deny group group-based-policy-core
	create = block group group-based-policy-core
	label-Code-Review = +0..-1 group group-based-policy-core
	exclusiveGroupPermissions = abandon create label-Code-Review
[receive]
	requireChangeId = true
	requireContributorAgreement = true
[submit]
	mergeContent = true
[access "refs/*"]
	exclusiveGroupPermissions = forgeServerAsCommitter pushMerge
	pushMerge = block group group-based-policy-core
