[access "refs/for/refs/*"]
	owner = group user/Thanatas (xaxadmin)

[access "refs/heads/*"]
	abandon = deny group group-based-policy-core
	create = group group-based-policy-core
	label-Code-Review = +0..+2 group group-based-policy-core
	label-Workflow = -1..+0 group group-based-policy-core

[receive]
	requireChangeId = true
	requireContributorAgreement = true
[submit]
	mergeContent = true
[access]
	inheritFrom = openstack/api-site
