{
    "heat_template_version": "2015-10-15",
    "description": "Configuration for Haproxy Neutron Loadbalacer V2 service",
    "parameters": {
        "lb_port": {
            "type": "number",
            "default": 443,
            "description": "Port used by the load balancer"
        },
        "app_port": {
            "type": "number",
            "default": 80,
            "description": "Port used by the servers"
        },
        "Subnet": {
            "type": "string",
            "description": "Subnet on which the load balancer will be located"
        },
        "vip_ip": {
            "type": "string",
            "description": "VIP IP Address"
        },
        "service_chain_metadata": {
            "type": "string",
            "description": "sc metadata"
        }
    },
    "resources": {
        "monitor": {
            "type": "OS::Neutron::LBaaS::HealthMonitor",
            "properties": {
                "delay": 3,
                "type": "HTTP",
                "timeout": 3,
                "max_retries": 3,
                "pool": {
                    "get_resource": "pool"
                }
            }
        },
        "pool": {
            "type": "OS::Neutron::LBaaS::Pool",
            "properties": {
                "lb_algorithm": "ROUND_ROBIN",
                "protocol": "HTTP",
                "listener": {
                    "get_resource": "listener"
                }
            }
        },
        "listener": {
            "type": "OS::Neutron::LBaaS::Listener",
            "properties": {
                "loadbalancer": {
                    "get_resource": "loadbalancer"
                },
                "protocol": "TERMINATED_HTTPS",
                "default_tls_container_ref": "http://192.168.200.43:9311/v1/containers/83d46573-dc1f-42ea-807b-181b7aaac3f2",
                "sni_container_refs": ["http://192.168.200.43:9311/v1/containers/e8cb15a9-00dc-4027-b826-7e56ba870f68"],
                "protocol_port": {
                    "get_param": "lb_port"
                }
            }
        },
        "loadbalancer": {
            "type": "OS::Neutron::LBaaS::LoadBalancer",
            "properties": {
                "vip_subnet": {
                    "get_param": "Subnet"
                },
                "provider": "loadbalancerv2",
                "vip_address": {
                    "get_param": "vip_ip"
                },
                "description": {
                    "get_param": "service_chain_metadata"
                }
            }
        }
    }
}
